.container {
  height: 100vh;
  width: 100vw;
  position: relative;
  background: rgba(0, 0, 0, 0.6);
}

.widget {
  height: 100%;
  max-width: 420px;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background: #18A4E0;
  box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25);
}

.widget__header {
  height: 100px;
  padding: 16px 24px;
  background: #043353;
  border-radius: 0 0 8px 8px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;

  &-user {
    display: flex;
    margin-right: 16px;
  }

  &-avatar-container {
    position: relative;
    margin-right: 16px;
    &::before {
      content: '';
      height: 100%;
      width: 100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 50%;
      border: 8px solid rgba(4, 51, 83, 0.3);
    }
    &::after {
      content: '';
      position: absolute;
      width: 12px;
      height: 12px;
      top: 6px;
      right: 0;
      background: #BB6BD9;
      border: 3px solid #043353;
      box-sizing: border-box;
      border-radius: 6px;
    }
  }

  &-avatar {
    height: 68px;
    width: 68px;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
  }

  &-user-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-name {
    font: 18px/28px Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #FAF8F0;
  }

  &-caption {
    font: 14px/16px Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #F2994A;
  }
}

.widget__button {
  outline: none;
  border: 0;
  cursor: pointer;
  justify-content: flex-start;
  background: #043353;

  &-icon {
    height: 24px;
    width: 24px;
    color: #FAF8F0;
  }
}

.widget__main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.widget__content {
  position: relative;
  padding: 24px 25px;
  flex-grow: 1;
  height: 0;
  display: flex;
  flex-direction: column;

}

.widget__messages {
  padding: 20px 23px 20px 21px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background: #FAF8F0;
  border: 1px solid #043353;
  border-radius: 8px;
  overflow: auto;
}

.widget__message {
  margin-bottom: 32px;

  &-header {
    display: flex;
    margin-bottom: 16px;
  }

  &-title {
    padding-left: 1px;
    padding-right: 18px;
    font: 24px/32px Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #000;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
  }

  &-date {
    font: 14px/32px Roboto, Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: rgba(4, 51, 83, 0.5);
    flex-shrink: 0;
  }

  &-text {
    font: 18px/28px Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #000;
  }
}

.widget__shadow {
  display: flex;
  position: relative;
  height: 100%;
  border-radius: 0 0 8px 8px;
  flex-shrink: 1;
  overflow-y: auto;
  &::after  {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 30%;
    background: linear-gradient(rgba(255, 255, 255, 0), #FFF);
    pointer-events: none;

  }
}

.widget__footer {
  height: 80px;
  background: #043353;
  border-radius: 8px 8px 0 0;
  display: flex;
  flex-shrink: 0;

  &-contacts {
    list-style-type: none;
    display: flex;
    margin: auto;
  }

  &-contact {
    max-height: 24px;
    padding: 0 8px;
  }

  &-link {
    display: block;
  }

  &-icon {
    height: 24px;
    width: 24px;
    color: $icon;
  }
}

.widget__form {
  margin: 8px 0;
  padding: 26px 21px;
  background: #FAF8F0;
  border: 1px solid #043353;
  border-radius: 8px;
  display: none;
  flex-wrap: wrap;

  &-input {
    margin: 4px 0;
    padding: 8px 13px;
    height: 44px;
    width: 100%;
    background: #FAF8F0;
    border: 1px solid #043353;
    border-radius: 8px;
    font: 14px/28px Roboto, Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: #043353;
  }

  &-input:hover {
    border-color: #F2994A;
  }

  &-input:focus-visible {
    border-color: #F2994A;
    outline: none;
  }

  &-submit {
    margin: 4px 0;
    height: 44px;
    font: 12px/12px Roboto, Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #FAF8F0;
    padding: 16px 25px;
    background: #043353;
    border-radius: 0 8px 8px 0;
    border: 0;
    cursor: pointer;
  }
}

.widget__form-input::-moz-placeholder {
  color: #043353;
  opacity: 0.5;
}

.widget__form-input::placeholder {
  color: #043353;
  opacity: 0.5;
  font-weight: 400;
}

.widget__form-wrapper {
  width: 100%;
  display: flex;

  &-input {
    border-radius: 8px 0 0 8px;
    flex-grow: 1;
  }

  &-submit {
    flex-shrink: 0;
  }
}

.widget--form .widget__form {
  display: flex;
}

